doctype html
html
  head
    title Welcome
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Node Auth
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          if(user)
            li(class=(title === 'Members' ? 'nav-item active' : 'nav-item'))
              a.nav-link(href='/')
                | Members
                span.sr-only (current)
          if(!user)
            li(class=(title === 'Register' ? 'nav-item active' : 'nav-item'))
              a.nav-link(href='/users/register') Register
            li(class=(title === 'Login' ? 'nav-item active' : 'nav-item'))
              a.nav-link(href='/users/login') Login

        ul.navbar-nav.mr-auto.navbar-right
          if(user)
            li
              a.nav-link(href='/users/logout') Logout


    .container
      != messages()
      block content

    hr

    footer.container
      p(class='text-center') © Company 2017-2018
