extends layout

block content
  h2.page-header Please login below
  p Please login using the form below
  form(method='post', action='/users/login')
    .form-group
      label Username
      input.form-control(name='username', type='text', placeholder='Enter username')
    .form-group
      label Password
      input.form-control(name='password', type='password', placeholder='Enter password')

    input.btn.btn-primary(type='submit', name='submit', value='Login')
